# Question 1

In [1]:
a = 0 
def b():
  global a
  a = c(a)
    
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

- Initialize variable 'a' as 0: a = 0.

- Define function 'b' and specify global variable 'a'.

- Call function 'c(a)' within 'b', which adds 2 to 'a'.

- Define function 'c' that takes argument 'a' and returns 'a + 2'.

- The b() function is called for the first time. Inside b(), c(a) is invoked with a being 0. As a result, a becomes 2.            
- The b() function is called again. Within b(), c(a) is called with a now equal to 2. This updates a to 4.                        
- The b() function is called for the third time. Inside b(), c(a) is invoked with a as 4. Consequently, a is modified to 6.           
- Finally, the value of a is printed, which is 6.

# Question2

In [3]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        contents = infile.read()
        length = len(contents)
        infile.close()
        return length
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [4]:
fileLength('midterm.py')

123

In [5]:
fileLength('idterm.py')

File idterm.py not found.

# Question 3

In [9]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

In [10]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [11]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [13]:
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [15]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [16]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [17]:
def collatz(j):
    print(j)

    if j == 1:
        return

    if j % 2 == 0:
        collatz(j // 2)
    else:
        collatz(3 * j + 1)

In [18]:
collatz(1)

1

In [19]:
collatz(10)

10
5
16
8
4
2
1

# Questions 5

In [38]:
def binary(j):
    if j > 1:
        binary(j//2)
    print(j % 2, end='')

In [39]:
binary(0)

0

In [40]:
binary(1)

1

In [41]:
binary(3)

11

In [42]:
binary(9)

1001

# Questions 6

In [50]:
from html.parser import HTMLParser
store=[]
class HeadingParser(HTMLParser):
    global store
    def handle_starttag(self, tag, attrs):
        store.append(tag)
    def handle_data(self, data):
        store.append(data)        
    def handle_endtag(self,tag):
        if(tag=="html"):
            for val in store:
                for tagno in ('h1','h2','h3','h4','h5','h6'):
                    if(val==tagno):
                        ind=store.index(tagno)
                        print(store[ind+1],end="\n\t")

In [51]:

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

# Question 7

In [53]:
import requests

def webdir(url, depth, indent):
    # Print the current URL with appropriate indentation
    print(' ' * indent + url)

    # Base case: depth reaches 0
    if depth == 0:
        return

    # Send a GET request to the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Extract all the links from the web page
        links = extract_links(response.text)

        # Recursively call webdir() on each link
        for link in links:
            webdir(link, depth - 1, indent + 1)

def extract_links(html):
    
    return ['http://reed.cs.depaul.edu/lperkovic/csc242/test2.html',
            'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html',
            'http://reed.cs.depaul.edu/lperkovic/csc242/test3.html',
            'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html']

# Test the webdir() function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

In [7]:
import sqlite3

# connect to database
conn = sqlite3.connect('meteorology.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('''CREATE TABLE Forecast
            (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
             )''')

# insert data into table 
climate_data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO Forecast VALUES (?, ?, ?, ?, ?)', climate_data)

# commit changes and close connection
conn.commit()
conn.close()

In [8]:
import sqlite3

# connect to database
conn = sqlite3.connect('meteorology.db')

# create cursor object
c = conn.cursor()

#### a) All the temperature data.

In [9]:
c.execute('SELECT Temperature FROM Forecast')
temperature_data = c.fetchall()
print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

#### b) All the cities, but without repetition

In [11]:
c.execute('SELECT DISTINCT City FROM Forecast')
cities = c.fetchall()
print(cities)

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India.

In [12]:
c.execute("SELECT * FROM Forecast WHERE Country = 'India'")
india_records = c.fetchall()
print(india_records)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d) All the Fall records

In [13]:
c.execute("SELECT * FROM Forecast WHERE Season = 'Fall'")
fall_records = c.fetchall()
print(fall_records)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [14]:
c.execute("SELECT City, Country, Season FROM Forecast WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainfall_records = c.fetchall()
print(rainfall_records)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [15]:
c.execute("SELECT City, Country FROM Forecast WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = c.fetchall()
print(fall_temp_records)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### g) The total annual rainfall for Cairo.Â¶

In [16]:
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM Forecast WHERE City = 'Cairo'")
cairo_rainfall = c.fetchone()[0]
print(cairo_rainfall)

27.6

#### h) The total rainfall for each season

In [17]:
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Forecast GROUP BY Season")
season_rainfall = c.fetchall()
print(season_rainfall)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

a

In [21]:
Vocabulary = [word.upper() for word in words]
print(Vocabulary)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b

In [22]:
Vocabulary = [word.lower() for word in words]
print(Vocabulary)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c

In [24]:
Vocabulary_lengths = [len(word) for word in words]
print(Vocabulary_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d

In [25]:
Vocabulary = [[word.upper(), word.lower(), len(word)] for word in words]
print(Vocabulary)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e

In [26]:
Vocabulary = [word for word in words if len(word) >= 4]
print(Vocabulary)

['quick', 'brown', 'jumps', 'over', 'lazy']